body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow" , Arial , Sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../pics/Layer.png");
  background-position: top center;
  background-repeat: no-repeat;
}

 .inner-page{ color: #000000;
  background-color: #f8f5f2;
background-image: url("../pics/collums.png");
background-repeat: repeat;
background-position: 0 0;}

header{margin-bottom: 75px;}
.logo-pic{height: 153px;
width: 368px;}

a {text-decoration: none;}

.main-navigation {font-size: 16px;
line-height: 20px;
color: #ffffff;

display: flex;
flex-direction: column;
align-items: center;}
.site-nav{width: 620px;}
.user-nav{width: 140px;}

.nav-wrapper{
  width: 100%;
margin-bottom: 60px;
background-color: #000000; }

.container{width: 940px;
margin: 0 auto;
padding: 0 10px;}

.nav-wrapper,.nav-line{display: flex;
justify-content: space-between;}

.site-nav,
.user-nav {list-style: none; margin: 0; padding: 0; }
/* .site-nav li,
.user-nav li{display: inline-block;} */

.site-nav a,
.user-nav a {color: #ffffff;}

.site-nav a:hover,
.site-nav a:focus,
.user-nav a:hover,
.user-nav a:focus {background-color: #242424;}
.features{margin-bottom: 80px;}

.feature-list {list-style: none; margin: 0; padding: 0; display: flex; justify-content: space-between;}

.feature-item { text-align: center; width: 300px;}
.feature-item h3{
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {list-style: none;}
.breadcrumbs a{text-decoration: none;
color: #000000;}
.breadcrumbs a:hover,
.breadcrumbs a:focus{text-decoration: underline;}
.breadcrumbs-current{color: #aba9a7;}

.filter{list-style: none;}

.catalog-list{list-style: none;
}
.catalog-item-name {text-decoration: none;
color: #000000;}
.price{background-color: #e5e5e5;}
.pagination{list-style: none;}

.artic{color: #aeaeae}
.photos{list-style: none;}

.table{border: 3px solid black;
border-collapse: collapse;}

.collums {color: #000000;
background-color: #f8f5f2;
background-image: url("../pics/collums.png");
background-position: 0 0;
background-repeat: repeat;
padding: 50px 80px;
display: flex;
justify-content: space-between;
margin-bottom: 35px;
}

.collums h2 {font-size: 30px;
line-height: 42px;}

.news{width: 380px; padding: 0;}

.news time {text-transform: none;}

.news ul {list-style: none;
  padding: 0;
}


.gallery{width: 300px;}
.gallery-content {
  background-color: #cccccc;
  border: 7px solid white;
}
.photo-zal{border: 7px solid white;}

.button {
  font: inherit;
  color: white;
  background-color: #000000;
  border: none;
  text-align: center;
  vertical-align: middle;
}
.button:hover,
.button:focus,
.button:active {background-color: #663d15;}

.contact{width: 380px;}
.zapis{width: 300px;}
.zapiss input {border: 2px solid #000000;
font: inherit;
background-color: transparent;}

.zapiss input:focus {border-color: #663d15;}

.footer {color: white;
  background-color: #212121;
background-image: url("../pics/footer.png");
margin-top: 65px; padding: 60px; 0;  }

.footer .container{display: flex; justify-content: space-around; }
.footer-contact{width: 320px; ,margin-right: 80px;}



.underline {color: #ffffff;
text-decoration: underline;}

.underline:hover,
.underline:focus {text-decoration: none;}

.go-friend{width: 145px;}
.go-friend a {color: white;}

.go-friend ul {list-style: none;
text-decoration: none;
}
.social-button {color: white;}
.dev{width: 150px; margin-left: auto;}

.modal {color: #000000;
background-color: f8f5f2;
background-image: url("../pics/collums.png");
background-repeat: repeat;
background-position: 0 0;}

.modal h2 {font-size: 30px;
line-height: 42px;}

.user-login input{border: 2px solid black;
font: inherit;
background-color: transparent;
}

.user-login input:focus {border-color: #663d15;}

.checkbox:hover,
.checkbox:focus {color: #663d15;}

.restore {color: black;
text-decoration: underline;}
.restore:hover,
.restore:focus {text-decoration: none;}
